doctype html
html(lang='en')
  head
    title GENERATOR
    |     
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    link(href='css/style.css', rel='stylesheet')
    |     
    link(href='bootstrap/css/bootstrap.css', rel='stylesheet')
  body
    section.container-fluid
      h1.col-md-8.col-md-offset-2 G&eacute;n&eacute;rator of emails
      |         
      article.col-md-8.col-md-offset-2
        form
          .form-group
            label(for='firstname') Email address
            |                     
            input#firstname.form-control(name='firstname', type='text', placeholder='Enter Firstname')
          |                 
          .form-group
            label(for='lastname') Password
            |                     
            input#lastname.form-control(name='lastname', type='text', placeholder='Enter Lastname')
          |                 
          .form-group
            label(for='domain') File input
            |                     
            input#domain.form-control(name='domain', type='text', placeholder='Enter Domain')
          |                 
          button.btn.btn-default(type='submit') Submit
